h1, h2, h3, h4{margin-top: 10px;
margin-bottom: 10px;}

ul{margin-top: 10px;
    margin-bottom: 10px;}

a{color: mediumblue;
font-weight: bold;
text-decoration: none;}

.em{
    font-weight: bold;
}

.bg-info{background-color: rgb(255, 255, 255) !important; }

.black{color: black;}
em{color: green;
font-weight: bold;}